.main-contents {
  position: relative;
}

.circle-box {
  width: 400px;/*幅*/
	height: 400px;/*高さ*/
  position: relative;
}

.header {
  width: 100%;
  height: 70px;
  background-color: black;
}

.title {
  margin-top: 0.5em;
}

.sub-title {
  font-size: 12px;
}

.circle {
  width: 200px;/*幅*/
	height: 200px;/*高さ*/
  border-radius: 50%;/*角丸*/
  background-color: aliceblue;
  position: absolute;
  top: 100px;
  left: 100px;
}

.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  
  font-size: 28px;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.item {
  position: absolute;
}

.like {
  font-size: 40px;
  margin-top: 0.5em;
}

/* デフォルト */
.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
